<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <!-- <staticContent> -->
            <!-- <mimeMap fileExtension=".json" mimeType="application/json" /> -->
        <!-- </staticContent> -->
        <rewrite>
		<allowedServerVariables>
            <add name="HTTP_X_FORWARDED_PROTO" />
            <add name="HTTP_X_FORWARDED_HOST" />
        </allowedServerVariables>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:7777/{R:1}" />
					<serverVariables>
						<set name="HTTP_X_FORWARDED_PROTO" value="https" />
						<set name="HTTP_X_FORWARDED_HOST" value="property-search.com" />
					</serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
