* {
  margin: 0;
}

.w-fit {
  width: fit-content;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f7f7f7; /* Color of the track */
  border-radius: 10px; /* Rounded corners on the track */
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
  background-color: #0f2950; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners on the thumb */
  border: 3px solid #f7f7f7; /* Space around thumb */
}
.nextjs-toast-errors-parent{
	display :none !important;
}
.price-component {
  text-align: center;
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 40px rgba(24, 26, 32, 0.05);
  max-width: 400px;
  margin: auto;
}
.our-blog{
  background-color: #f7f7f7;
}

.price {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.price-value {
  font-size: 32px;
  font-weight: bold;
  color: rgb(15, 41, 80);
}

.price-subtext {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}
.package{
  position: relative;
  background: #f7f7f7;
  border: 3px solid rgb(15, 41, 80); /* Solid border */
  padding: 20px; 
  border-radius: 4px; /* Optional: rounded corners */
}

.package .info-boxes {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px;
  gap: 16px;
 
  text-align: center; /* Center align content */
}


.package .info-boxes::before {
  content: "أنظمة الدفع";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 8px;
  color: rgb(15, 41, 80);
  font-weight: bold;
  font-size: 16px;
  font-family: var(--title-font-family);
}

.info-box {
  background-color: white;
  padding: 0px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 135px;
  border: 1px solid rgb(15, 41, 80);
}

.info-box p {
  margin: 0;
  font-size: 16px;
  color: #333;
}
.custom-mr-0{
  margin-right: 5px !important;
    margin-left: 5px !important;
}

@media (min-width: 1600px) {
  .custom-mr-0 {
    margin-right: 140px !important;
    margin-left: 140px !important;
  }
}

.blog-content .info-label {
  font-size: 12px;
  color: #666;
  font-weight: bold;
  text-align: center;
  position: relative; /* Required for pseudo-elements */
  display: inline-block; /* Allows the lines to align closely */
}

/* Add lines before and after */


.blog-content .info-boxes {
  display: flex;
  justify-content: start;
  margin: 7px 0;
  gap: 16px;
}

.blog-content  .info-box {
  background-color: #f7f7f7;
  padding: 4px 1px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 120px;
}

.blog-content  .info-box p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.blog-content  .info-label {
  font-size: 12px;
  color: #666;
}

.section-title {
  font-size: 18px;
  color: #333;
  margin: 16px 0 8px;
}

.unit-types {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.unit-button {
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: right;
  font-size: 14px;
  cursor: pointer;
}

.unit-button:hover {
  background-color: #e9e9e9;
}

.collapsible-button {
  margin: 10px 0;
}

.collapse-toggle {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0 ;
  padding: 10px;
  width: 100%;
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.collapse-toggle:hover {
  background-color: #e9e9e9;
}

.collapse-content {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 8px 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: right;
  max-height: 0; /* Collapsed height */
  overflow: hidden; /* Hides content when collapsed */
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.collapse-content p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

/* Header */
.lang-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.lang-btn .lang-global {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lang-btn span {
  font-weight: 700;
  color: var(--headings-color);
}

/* bootstrap badge */

.badge {
  padding: 8px 12px 7px;
  border-radius: 70px;
}

/* side bar */
.sidebar-links {
  padding: 0 16px;
}
.sidebar-links li {
  padding: 16px 0 8px;
  border-bottom: 1px solid #f5f5f5;
}

.ellipsis {
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide the overflowed content */
  text-overflow: ellipsis;
}

.ellipsis-footer {
  max-width: 170px;
}

/* header */
li.active a {
  color: #0f2950 !important;
}

/* banner */
.home-banner {
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 215px;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .home-banner {
    height: 160px;
  }
}

.home-banner .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner .overlay h5 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
}

.tags {
  transition: all 0.4s;
}

/* .tags:hover {
  background-color: #0f2950;
  color: #fff;
} */

.tags {
  --color: #8fc866;
  --hover: #66c887;
}

.tags:hover,
.tags:focus {
  color: #fff;
  box-shadow: inset 0 5em 0 #0f2950;
}

/* compounds */
.cards {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.cards .card {
  /* width: 130px; */
  /* height: 150px; */
  width: 150px;
  height: 190px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.cards h5,
.cards span,
.cards p {
  margin: 0 !important;
  text-align: center;
}

.card > div:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.cards .card span {
  font-size: 12px;
  /* color: gray; */
  text-align: center;
  line-height: 1.2;
}

.cards .card h4 {
  font-size: 13px;
  text-align: center;
}

.cards .card > p {
  font-weight: 700;
  color: #000;
}

.cards .card.gold {
  /* background-color: #efbf04; */
  background-color: rgb(241 194 4 / 20%);
}

.cards .card.silver {
  /* background-color: #c4c4c4; */
  background-color: rgb(196 196 196 / 20%);
}

.cards > .card.bronze {
  /* background-color: #ce8946; */
  background-color: rgb(206 137 70 / 30%);
}

.cards .card.gold h5 {
  color: #ce8946;
}
.cards .card.silver h5 {
  color: #ce8946;
}
.cards .card.bronze h5 {
  color: #ce8946;
}


@media (max-width: 768px) {
  .contentArt {
    margin: 0 !important; /* 100% width for smaller screens */
  }
}

.con{
  max-height: max-content;
}
/* Container for the asks section */
.asks-container {
  width: 100%;
  max-width: 1100px;
  /* margin: 0 auto; Center the section */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  gap: 16px; /* Space between asks */
}

/* Individual ask block */
.ask {
  display: flex;
  flex-direction: column;
}

/* Question styling */
.question {
  background-color: rgb(15, 41, 80); /* Blue background */
  color: white;
  padding: 16px;
  border-radius: 8px 8px 0 0 ;
  font-weight: bold;
}

/* Answer styling */
.answer {
  background-color: white; /* Lighter blue background */
  color: black;
  padding: 16px;
  border-radius: 0 0 8px 8px;
  font-weight: normal;
  box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);
    border: 1px solid #e0e0e0; /* Light gray border for definition */
}

/* Responsive design */
@media (min-width: 1024px) {
  .asks-container {
    width: 100%; /* 40% of the width for large screens */
  }
}

@media (max-width: 1024px) {
  .asks-container {
    width: 100%; /* 100% width for smaller screens */
  }
}
/* .about-ar{
  margin-top: -300px;
} */
@media (min-width: 1024px) {
  .about-ar {
    margin-top: -120px;
  }
}
.companies-head-section{
  padding-top: 0 !important;
}
.price-blog-out{
  padding: 0px 0 10px;
  color:#684646 ;
  font-size: medium;
}
.price-blog-out span{
  color : black;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(18, 18, 18, 0.768627451);
}
.companies-index {
  z-index: 5;
}
.company-title{
  color: rgb(15, 41, 80);
  position: relative;
  font-size: 2rem; /* Adjust the title size */
  margin-bottom: 1rem; /* Space below the title */
}
.company-title::after {
  content: "";
  display: block;
  width: 80%; /* Length of the line */
  height: 1px; /* Thickness of the line */
  background-color: rgb(15, 41, 80); /* Line color, e.g., Bootstrap blue */
  margin-top: 0.5rem; /* Space between the title and line */
  transition: width 0.3s ease; /* Smooth animation for the line */
}
.contact-buttons-blog-out {
  display: flex;
  gap: 10px;
}

.contact-button-blog-out {
  border: none;
  border-radius: 8px;
  background-color: #f1f1f1;
  color: #333;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button-blog-out i {
  margin: 0;
}

.contact-button-blog-out:hover {
  background-color: #ddd;
}

.contact-button-blog-out.whatsapp {
  color: #25d366;
}



.contact-button-blog-out.phone {
  color: #128c7e;
}


.contact-button-blog-out.video {
  color: #007bff;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.truncate-text-three {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.content-padding-companies{
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 767.98px) {
  .content-padding-companies {
    padding-left: 100px;
    padding-right: 100px;
    }
}
.custom-height {
  height: 80%; /* Default height (applies to small screens by default) */
}

@media (min-width: 768px) { /* Medium screens and up */
  .custom-height {
    height: 100%;
  }
}

@media (min-width: 992px) { /* Large screens and up */
  .custom-height {
    height: 100%;
  }
}
.blog-description-background{
  background: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
}
.blog-description-background ul li{
  list-style-type:disc;
}
.blog-description-background ul li::marker{
  color: rgb(15, 41, 80); /* Change the bullet color */
  font-size: 1em; 
}

/* property */
/* 
.plans p{
  margin: 0 !important;
} */

/* all react select */
.select-custom .select__control.select__control--menu-is-open {
  border-color: #0f2950 !important;
}

/* modal */
.modal {
  background-color: rgb(0 0 0 / 40%);
}

/* card loading */
.fpo {
  position: relative;
  margin: 25% auto;
  display: block;
}
.pulsate {
  background: linear-gradient(-45deg, #dddddd, #f0f0f0, #dddddd, #f0f0f0);
  background-size: 400% 400%;
  -webkit-animation: Gradient 2.25s ease infinite;
  -moz-animation: Gradient 2.25s ease infinite;
  animation: Gradient 2.25s ease infinite;
}
.block {
  display: block;
  width: 271px;
  height: 16px;
  color: #000;
}
.block2 {
  width: 78px;
  height: 8px;
  margin-bottom: 8px;
}
.block3 {
  width: 131px;
  height: 8px;
  margin-bottom: 16px;
}
.circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  float: right;
}
#card {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
}
.card-image {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 243px;
  background: #fafafa;
  padding: 16px;
}
.card-content {
  clear: both;
  box-sizing: border-box;
  padding: 16px;
  background: #fff;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* blog-wrapper */

.blog-wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 767.98px) {
  .blog-wrapper {
    grid-template-columns: 1fr;
  }
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

button.expanded {
  text-decoration: underline;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
}
